[Desktop Entry]
Type=Application
Name=OneKeePass
Comment=Open and manage KeePass .kdbx password vaults
Exec=onekeepass %f
Icon=io.github.onekeepass.desktop
Terminal=false
Categories=Utility;Security;
StartupWMClass=OneKeePass
StartupNotify=true
Keywords=password;passwords;keepass;kdbx;vault;security;otp;
