[Desktop Entry]
Type=Application
Name=goose
Comment=Extensible AI agent that installs, executes, edits and tests
Exec=goose %U
Icon=io.github.block.Goose
Terminal=false
Categories=Development;
StartupWMClass=Goose
MimeType=x-scheme-handler/goose;
Keywords=ai;agent;assistant;llm;mcp;automation;
