[Desktop Entry]
Type=Application
Name=MotrixNext
GenericName=Download Manager
Comment=A full-featured download manager
Exec=motrix-next %U
Icon=com.motrix.next
Terminal=false
StartupNotify=true
StartupWMClass=motrix-next
Categories=Network;FileTransfer;
Keywords=download;bittorrent;magnet;ed2k;aria2;
MimeType=application/x-bittorrent;x-scheme-handler/magnet;x-scheme-handler/ed2k;x-scheme-handler/thunder;x-scheme-handler/motrixnext;
X-GNOME-UsesNotifications=true
