[Desktop Entry]
Type=Application
Name=Harbor Beta
Comment=A Stremio client built for adventure
Exec=harbor-beta %U
Icon=site.harbor.Harbor.Beta
Terminal=false
Categories=AudioVideo;Video;Player;
MimeType=x-scheme-handler/harbor;x-scheme-handler/stremio;
StartupNotify=true
StartupWMClass=harbor
